// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.close-icon{
	position: relative;
    top: -6px;
    right: -8px;
    font-size: 1.2em;

    i {
    	color:white;
    }
}